[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Comtravo tech blog
[access "refs/*"]
	owner = group user/Omer Davutoglu (3mard)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Omer Davutoglu (3mard)
	label-Verified = -1..+1 group user/Omer Davutoglu (3mard)
	push = group user/Omer Davutoglu (3mard)
	read = group user/Omer Davutoglu (3mard)
	rebase = group user/Omer Davutoglu (3mard)
	removeReviewer = group user/Omer Davutoglu (3mard)
	submit = group user/Omer Davutoglu (3mard)
[access "refs/heads/*"]
	create = group user/Omer Davutoglu (3mard)
	push = +force group user/Omer Davutoglu (3mard)
	pushMerge = group user/Omer Davutoglu (3mard)
	read = group user/Omer Davutoglu (3mard)
[access "refs/tags/*"]
	push = group user/Omer Davutoglu (3mard)
	push = +force group user/Omer Davutoglu (3mard)
